* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    text-decoration: none;
    list-style: none;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

/* Navigation bar */
.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.Navbar::before {
    content: "";
    background-image: linear-gradient(to right, #243949 0%, #3c6383 100%);
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.logo {
    margin-left: 20px;
    height: 100px;


}

.logo img {
    width: 100%;
}

.right-nav {
    color: rgb(0, 0, 0);
    margin: 0px 53px 0px -98px;
    padding: 10px 20px;
    font-size: 3rem;
    cursor: pointer;

}

.right-nav button {
    align-self: center;
    background-color: rgb(20, 116, 109);
    color: #fff;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    width: 113px;
    font-size: 1.9rem;
    height: 41px;
    font-weight: bold;
    border: 1px solid rgb(6, 34, 32);
    box-shadow: 1px 2px 5px black;

}

.right-nav button:hover {
    background-color: #17413F;
}

.Navbar ul {
    display: flex;

}

.Navbar ul li a {
    font-size: 2.5rem;
    padding: 6px 42px;
    color: #fff;
    border-radius: 23px;
    display: block;
    font-family: 'Noto Serif Display', serif;
}

.Navbar ul li a:hover {
    background-color: #155693;
}

.Navbar ul li a:visited {
    transition: 3s;
}

.menu {
    font-size: 4.8rem;
    margin-right: 20px;
}

.menu {
    display: none;
    background: transparent;
}

#cross {
    display: none;
}

.background {
    width: 100vw;
    height: 66vh;
}

.text-container {
    padding: 15px 23px 16px 36px;
    font-size: 4rem;
    background-image: linear-gradient(to right top, #155693, #175ea0, #1966ae, #1b6ebb, #1d76c9);
    width: 12%;

}

.text-container h1 {
    font-weight: bold;
    color: #fff;
}

.popular-car-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 0px 116px  0px;
}

.homepage {
    background: #E0EEFB;
}

.cars {

    position: relative;
    top: -197px;

}

.card {
    margin-top: 20px;
    width: 320px;
    background-image: linear-gradient(to bottom, #155693, #667bad, #9da3c6, #cfcee1, #fdfdfd);
    border-radius: 5px;
    height: 44vh;
    border-radius: 5px;
    box-shadow: 7px 5px 5px black;
    padding-bottom: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-image {
    width: 100%;
}

.card-button {
    display: block;
    padding: 6px;
    border: 2px solid black;
    border-radius: 50px;
    font-size: 15px;
    width: 120px;
    margin: 0 auto;
    background: rgb(29, 118, 201);
    background-color: #1b7ad2;
    box-shadow: 2px 3px 6px black;
}

.card-button:hover {
    background-color: #175ea0;
}

.card-info p {
    font-size: 2rem;
    font-weight: 600;
    padding: 6px;
}

.card-info {
    height: fit-content;
    width: 250px;
    margin: 1px auto;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    background: rgb(29, 118, 201);
    background-color: #cfcee1;
    box-shadow: 2px 2px 5px black;
}







































/* Queries */
@media(max-width:1024px) {
    .Navbar .menu {
        display: block;
        margin-right: 15px;
        z-index: 1;
        cursor: pointer;

    }

    .Navbar .menu #cross {

        font-size: 5rem;
    }

    .Navbar .menu #hamburger {

        font-size: 4rem;
    }

    .Navbar {
        position: relative;
    }

    .Navbar .navbar-list {
        z-index: 0;
        width: 100%;
        height: 100vh;
        position: absolute;
        background-image: linear-gradient(to top, #155693, #165fa2, #1768b2, #1971c2, #1b7ad2);
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .Navbar ul li {
        font-size: 9rem;
        padding: 20px 0px;
    }

    .active .Navbar .navbar-list {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .menu #cross {
        display: block;
    }

    .active .menu #hamburger {
        display: none;
    }
}
